@font-face {
    font-family: dosis;
    src: url(../font/Dosis/Dosis-VariableFont_wght.ttf);
}

body{
    background-color: rgb(42, 145, 156);
    header{
        .menu{
            display: flex;
            justify-content: space-between;
            img{
                max-width: 120%;
            }
        }
        .navBar_form{
            // display: none;
            display: flex;
            flex-direction: column;
            width: 50%;
        }
        .city_weather{
            display: flex;
            justify-content: center;
        }
    }

}